In [1]:
import pandas as pd
import numpy as np

In [2]:
energy =pd.read_excel('Energy Indicators.xls',sheet_name='Energy',skiprows=16,skipfooter=38)

In [3]:
energy.shape
# energy.head()

(228, 6)

In [4]:
del energy['Unnamed: 0']
del energy['Unnamed: 1']

In [5]:
energy.columns=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

In [6]:
energy_copy = energy.copy()
energy_copy.shape

(228, 4)

In [7]:
energy_copy.columns=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

In [8]:
energy_copy=energy_copy.drop(0)

In [9]:
energy_copy.shape

(227, 4)

In [10]:
# energy_copy['Country'].unique().tolist()

In [11]:
energy_copy['Energy Supply']=energy_copy['Energy Supply'].fillna(np.nan)

In [12]:
energy_copy= energy_copy.replace('...',np.nan)

In [13]:
energy_copy.shape

(227, 4)

In [14]:
energy_copy['Energy Supply']=energy_copy['Energy Supply']*1000000

In [15]:
energy_copy['Country']= energy_copy['Country'].str.replace("[0-9]+$",'')

In [16]:
energy_copy['Country']= energy_copy['Country'].replace('United States of America','United States')

In [17]:
energy_copy.loc[energy_copy['Country']== 'Bolivia (Plurinational State of)']

,Country,Energy Supply,Energy Supply per Capita,% Renewable
25,Bolivia (Plurinational State of),336000000.0,32.0,31.47712

In [18]:
# energy_copy.loc[energy_copy['Country']== 'United States']

In [52]:
len(energy_copy['Country'].unique().tolist())

227

In [19]:

# energy_copy['Country']= energy_copy['Country'].replace('Iran (Islamic Republic of)','Iran')

In [20]:
energy_copy['Country']= energy_copy['Country'].replace('Bolivia (Plurinational State of)','Bolivia')

In [21]:
energy_copy['Country']= energy_copy['Country'].replace('Republic of Korea','South Korea')

In [22]:
energy_copy['Country']= energy_copy['Country'].replace('Switzerland17','Switzerland')

In [23]:
energy_copy['Country']= energy_copy['Country'].replace('United Kingdom of Great Britain and Northern Ireland','United Kingdom')

In [24]:
# energy_copy.loc[energy_copy['Country']== 'United Kingdom']

In [25]:
energy_copy['Country']= energy_copy['Country'].str.replace(" \(.*?\)",'')

In [26]:
# energy_copy['Country'].unique().tolist()

In [27]:
# energy_copy.loc[energy_copy['Country']== 'United States']

90.66666666666667

In [29]:
GDP=pd.read_csv('world_bank.csv',sep=',',skiprows=3)

In [30]:
# GDP.head()

In [31]:
del GDP['2016']
del GDP['2017']

In [32]:
# GDP.head()

In [33]:
GDP_copy= GDP.copy()

In [34]:
GDP_copy['Country Name']= GDP_copy['Country Name'].replace('Korea, Rep.','South Korea')

In [35]:
GDP_copy['Country Name']= GDP_copy['Country Name'].replace('Iran, Islamic Rep.','Iran')
GDP_copy['Country Name']= GDP_copy['Country Name'].replace('Hong Kong SAR, China','Hong Kong')

In [36]:
# GDP_copy.loc[GDP_copy['Country']=='United States']

In [37]:
 GDP_copy=GDP_copy.rename(columns={'Country Name':'Country'})

In [53]:
len(GDP_copy['Country'].unique().tolist())

264

In [38]:
ScimEn=pd.read_excel('scimagojr.xlsx')

In [39]:
ScimEn.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,14761,14708,73822,53600,5.00,176
1,2,United States,8023,7707,36226,14058,4.52,278
2,3,India,2387,2351,10166,3655,4.26,141
3,4,United Kingdom,1964,1916,12200,3193,6.21,170
4,5,Germany,1871,1824,8716,2699,4.66,151

In [40]:
GDP_copy_10=GDP_copy.copy()

In [41]:
columns= GDP_copy_10.loc[:,'1960':'2005']

GDP_copy_10= GDP_copy_10.drop(columns,axis=1)

In [42]:
del GDP_copy_10['Unnamed: 62']

In [43]:
columns1= GDP_copy_10.loc[:,'Country Code':'Indicator Code']

GDP_copy_10= GDP_copy_10.drop(columns1, axis=1)

In [55]:
len(GDP_copy_10['Country'].unique().tolist())

264

In [56]:
len(ScimEn['Country'].unique().tolist())

137

In [66]:
df_r=energy_copy.merge(GDP_copy_10,on='Country',how='inner').merge(ScimEn,on='Country',how='inner')
#df = pd.merge(pd.merge(energy, GDP, on='Country'), ScimEn, on='Country')

In [64]:
df_r0=energy_copy.merge(GDP_copy_10,on='Country',how='outer').merge(ScimEn,on='Country',how='outer')

In [92]:
df_r =df_r.set_index('Country')

In [93]:
top_15 =df_r.copy()

In [94]:
# Question 1
top_15 = top_15.loc[df_r['Rank'].isin([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])]
top_15= top_15.sort_values(by='Rank')
top_15.shape

(15, 20)

In [105]:
top_15

,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,,,,,,,,,,,,,,
China,1.271910e+11,93.0,19.754910,2.752132e+12,3.552182e+12,4.598206e+12,5.109954e+12,6.100620e+12,7.572554e+12,8.560547e+12,9.607224e+12,1.048237e+13,1.106467e+13,1,14761,14708,73822,53600,5.00,176
United States,9.083800e+10,286.0,11.570980,1.385589e+13,1.447764e+13,1.471858e+13,1.441874e+13,1.496437e+13,1.551793e+13,1.615526e+13,1.669152e+13,1.742761e+13,1.812071e+13,2,8023,7707,36226,14058,4.52,278
India,3.319500e+10,26.0,14.969080,9.203165e+11,1.201112e+12,1.186953e+12,1.323940e+12,1.656617e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.102391e+12,3,2387,2351,10166,3655,4.26,141
United Kingdom,7.920000e+09,124.0,10.600470,2.692613e+12,3.074360e+12,2.890564e+12,2.382826e+12,2.441173e+12,2.619700e+12,2.662085e+12,2.739819e+12,3.022828e+12,2.885570e+12,4,1964,1916,12200,3193,6.21,170
Germany,1.326100e+10,165.0,17.901530,3.002446e+12,3.439953e+12,3.752366e+12,3.418005e+12,3.417095e+12,3.757698e+12,3.543984e+12,3.752514e+12,3.890607e+12,3.375611e+12,5,1871,1824,8716,2699,4.66,151
Japan,1.898400e+10,149.0,10.232820,4.530377e+12,4.515265e+12,5.037908e+12,5.231383e+12,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.850414e+12,4.394978e+12,6,1714,1693,6002,1952,3.50,155
Canada,1.043100e+10,296.0,61.945430,1.315415e+12,1.464977e+12,1.549131e+12,1.371153e+12,1.613464e+12,1.788648e+12,1.824289e+12,1.842628e+12,1.799269e+12,1.559623e+12,7,1552,1516,8863,2320,5.71,177
Iran,9.172000e+09,119.0,5.707721,2.662989e+11,3.498816e+11,4.060709e+11,4.140591e+11,4.870696e+11,5.835004e+11,5.988534e+11,4.674149e+11,4.344746e+11,3.858745e+11,8,1389,1361,9284,3498,6.68,94
Italy,6.530000e+09,109.0,33.667230,1.942634e+12,2.203053e+12,2.390729e+12,2.185160e+12,2.125058e+12,2.276292e+12,2.072823e+12,2.130491e+12,2.151733e+12,1.832868e+12,9,1293,1243,8732,2878,6.75,127
Russian Federation,3.070900e+10,214.0,17.288680,9.899305e+11,1.299705e+12,1.660844e+12,1.222644e+12,1.524916e+12,2.051662e+12,2.210257e+12,2.297128e+12,2.063663e+12,1.368401e+12,10,1293,1288,2165,1382,1.67,69
Brazil,1.214900e+10,59.0,69.648030,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,2.616202e+12,2.465189e+12,2.472807e+12,2.455994e+12,1.802214e+12,11,1232,1228,3191,962,2.59,103
South Korea,1.100700e+10,221.0,2.279353,1.011797e+12,1.122679e+12,1.002219e+12,9.019350e+11,1.094499e+12,1.202464e+12,1.222807e+12,1.305605e+12,1.411334e+12,1.382764e+12,12,1191,1163,7839,1950,6.58,124
France,1.059700e+10,166.0,17.020280,2.318594e+12,2.657213e+12,2.918383e+12,2.690222e+12,2.642610e+12,2.861408e+12,2.683825e+12,2.811078e+12,2.852166e+12,2.438208e+12,13,1144,1116,5948,1418,5.20,139
Australia,5.386000e+09,231.0,11.810810,7.455219e+11,8.519628e+11,1.052585e+12,9.264482e+11,1.144261e+12,1.394281e+12,1.543411e+12,1.573697e+12,1.464955e+12,1.349034e+12,14,1115,1090,7407,1752,6.64,131
Spain,4.923000e+09,106.0,37.968590,1.264551e+12,1.479342e+12,1.635015e+12,1.499100e+12,1.431617e+12,1.488067e+12,1.336019e+12,1.361854e+12,1.376911e+12,1.197790e+12,15,988,974,7146,1805,7.23,138

In [67]:
#Question2
Question2=len(df_r0)-len(df_r)
Question2

194

In [97]:
#Question 3
avgGDP = df_r_15.loc[:,'2006':'2015'].mean(axis=1).sort_values()
df_r_15['avgGDP']= avgGDP 
avgGDP

Country
Iran                  4.393498e+11
South Korea           1.165810e+12
Australia             1.204616e+12
Spain                 1.407027e+12
India                 1.593787e+12
Canada                1.612860e+12
Russian Federation    1.668915e+12
Brazil                1.988885e+12
Italy                 2.131084e+12
France                2.687371e+12
United Kingdom        2.741154e+12
Germany               3.535028e+12
Japan                 5.177681e+12
China                 6.940046e+12
United States         1.563482e+13
dtype: float64

In [101]:
#Qu4
target = avgGDP.index[5]
target_data = top_15.loc[target]
target_data['2015'] - target_data['2006']

244208195577.44995

In [104]:
#qu5
top_15['Energy Supply per Capita'].mean()

157.6

In [116]:
#qu6
index= top_15['% Renewable'].idxmax()
value= top_15['% Renewable']

In [124]:
#qu7
top_15['ratio']=top_15['Self-citations']/top_15['Citations']

# top_15['ratio'].idxmax()
[top_15['ratio'].idxmax(),top_15['ratio'].max()]

['China', 0.726070818997047]

In [140]:
#qu8
top_15['Capita']=top_15['Energy Supply']/top_15['Energy Supply per Capita']
third = top_15.sort_values(by='Capita').index[2]
third

'Spain'

In [144]:
#qu9
top_15['person']=top_15['Citable documents']/top_15['Capita']
top_15['person'].corr(top_15['Energy Supply per Capita'])

0.681743779712993

In [158]:
#qu10
median =top_15['% Renewable'].sort_values(ascending=False).median()    
top_15['HighRenew']= top_15['% Renewable'] > median
top_15['HighRenew'] =top_15['HighRenew'].astype(int) 
# top_15['HighRenew']

In [159]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

In [181]:
df_pup= pd.DataFrame(ContinentDict,index=None)

ValueError: If using all scalar values, you must pass an index

In [178]:
df_pup_copy=df_pup.copy()
df_pup_copy.set_index(0)
df_pup_copy['country']=top_15['Country']

KeyError: 'Country'