In [2]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [3]:
df2=pd.read_csv('university_towns.txt',sep='|',header=None,names=['RegionName'])

In [4]:
df2['State']=df2[df2['RegionName'].str.contains('edit')]
df2.head()

                                        RegionName          State
0                                    Alabama[edit]  Alabama[edit]
1                    Auburn (Auburn University)[1]            NaN
2           Florence (University of North Alabama)            NaN
3  Jacksonville (Jacksonville State University)[2]            NaN
4       Livingston (University of West Alabama)[2]            NaN

In [7]:
df2['State'].fillna(method='ffill',inplace=True)
df2.head()

                                        RegionName          State
0                                    Alabama[edit]  Alabama[edit]
1                    Auburn (Auburn University)[1]  Alabama[edit]
2           Florence (University of North Alabama)  Alabama[edit]
3  Jacksonville (Jacksonville State University)[2]  Alabama[edit]
4       Livingston (University of West Alabama)[2]  Alabama[edit]

In [8]:
df2['check']=df2['State']== df2['RegionName']
df2.drop(df2.loc[df2['check']== True].index,inplace=True)

In [9]:
del df2['check']

In [10]:
df2['State'] = df2['State'].str.replace("\[.*?\]",'')
df2.head()

                                        RegionName    State
1                    Auburn (Auburn University)[1]  Alabama
2           Florence (University of North Alabama)  Alabama
3  Jacksonville (Jacksonville State University)[2]  Alabama
4       Livingston (University of West Alabama)[2]  Alabama
5         Montevallo (University of Montevallo)[2]  Alabama

In [11]:
df2['RegionName']=df2['RegionName'].str.replace(" \(.*?\)",'')
df2['RegionName']=df2['RegionName'].str.replace("\[.*?\]",'')
print(df2.shape)
df2.head()

(517, 2)

     RegionName    State
1        Auburn  Alabama
2      Florence  Alabama
3  Jacksonville  Alabama
4    Livingston  Alabama
5    Montevallo  Alabama