In [2]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [3]:
df= pd.read_csv('City_Zhvi_AllHomes.csv')

In [4]:
df.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
0,6181,New York,NY,New York,Queens,1,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,155000.0,154600.0,154400.0,154200.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
2,17426,Chicago,IL,Chicago,Cook,3,109700.0,109400.0,109300.0,109300.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,4,50000.0,49900.0,49600.0,49400.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
4,40326,Phoenix,AZ,Phoenix,Maricopa,5,87200.0,87700.0,88200.0,88400.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900

In [5]:
df.columns.tolist()

['RegionID',
 'RegionName',
 'State',
 'Metro',
 'CountyName',
 'SizeRank',
 '1996-04',
 '1996-05',
 '1996-06',
 '1996-07',
 '1996-08',
 '1996-09',
 '1996-10',
 '1996-11',
 '1996-12',
 '1997-01',
 '1997-02',
 '1997-03',
 '1997-04',
 '1997-05',
 '1997-06',
 '1997-07',
 '1997-08',
 '1997-09',
 '1997-10',
 '1997-11',
 '1997-12',
 '1998-01',
 '1998-02',
 '1998-03',
 '1998-04',
 '1998-05',
 '1998-06',
 '1998-07',
 '1998-08',
 '1998-09',
 '1998-10',
 '1998-11',
 '1998-12',
 '1999-01',
 '1999-02',
 '1999-03',
 '1999-04',
 '1999-05',
 '1999-06',
 '1999-07',
 '1999-08',
 '1999-09',
 '1999-10',
 '1999-11',
 '1999-12',
 '2000-01',
 '2000-02',
 '2000-03',
 '2000-04',
 '2000-05',
 '2000-06',
 '2000-07',
 '2000-08',
 '2000-09',
 '2000-10',
 '2000-11',
 '2000-12',
 '2001-01',
 '2001-02',
 '2001-03',
 '2001-04',
 '2001-05',
 '2001-06',
 '2001-07',
 '2001-08',
 '2001-09',
 '2001-10',
 '2001-11',
 '2001-12',
 '2002-01',
 '2002-02',
 '2002-03',
 '2002-04',
 '2002-05',
 '2002-06',
 '2002-07',
 '2002-08',
 '2002-09',
 '2002-10',
 '2002-11',
 '2002-12',
 '2003-01',
 '2003-02',
 '2003-03',
 '2003-04',
 '2003-05',
 '2003-06',
 '2003-07',
 '2003-08',
 '2003-09',
 '2003-10',
 '2003-11',
 '2003-12',
 '2004-01',
 '2004-02',
 '2004-03',
 '2004-04',
 '2004-05',
 '2004-06',
 '2004-07',
 '2004-08',
 '2004-09',
 '2004-10',
 '2004-11',
 '2004-12',
 '2005-01',
 '2005-02',
 '2005-03',
 '2005-04',
 '2005-05',
 '2005-06',
 '2005-07',
 '2005-08',
 '2005-09',
 '2005-10',
 '2005-11',
 '2005-12',
 '2006-01',
 '2006-02',
 '2006-03',
 '2006-04',
 '2006-05',
 '2006-06',
 '2006-07',
 '2006-08',
 '2006-09',
 '2006-10',
 '2006-11',
 '2006-12',
 '2007-01',
 '2007-02',
 '2007-03',
 '2007-04',
 '2007-05',
 '2007-06',
 '2007-07',
 '2007-08',
 '2007-09',
 '2007-10',
 '2007-11',
 '2007-12',
 '2008-01',
 '2008-02',
 '2008-03',
 '2008-04',
 '2008-05',
 '2008-06',
 '2008-07',
 '2008-08',
 '2008-09',
 '2008-10',
 '2008-11',
 '2008-12',
 '2009-01',
 '2009-02',
 '2009-03',
 '2009-04',
 '2009-05',
 '2009-06',
 '2009-07',
 '2009-08',
 '2009-09',
 '2009-10',
 '2009-11',
 '2009-12',
 '2010-01',
 '2010-02',
 '2010-03',
 '2010-04',
 '2010-05',
 '2010-06',
 '2010-07',
 '2010-08',
 '2010-09',
 '2010-10',
 '2010-11',
 '2010-12',
 '2011-01',
 '2011-02',
 '2011-03',
 '2011-04',
 '2011-05',
 '2011-06',
 '2011-07',
 '2011-08',
 '2011-09',
 '2011-10',
 '2011-11',
 '2011-12',
 '2012-01',
 '2012-02',
 '2012-03',
 '2012-04',
 '2012-05',
 '2012-06',
 '2012-07',
 '2012-08',
 '2012-09',
 '2012-10',
 '2012-11',
 '2012-12',
 '2013-01',
 '2013-02',
 '2013-03',
 '2013-04',
 '2013-05',
 '2013-06',
 '2013-07',
 '2013-08',
 '2013-09',
 '2013-10',
 '2013-11',
 '2013-12',
 '2014-01',
 '2014-02',
 '2014-03',
 '2014-04',
 '2014-05',
 '2014-06',
 '2014-07',
 '2014-08',
 '2014-09',
 '2014-10',
 '2014-11',
 '2014-12',
 '2015-01',
 '2015-02',
 '2015-03',
 '2015-04',
 '2015-05',
 '2015-06',
 '2015-07',
 '2015-08',
 '2015-09',
 '2015-10',
 '2015-11',
 '2015-12',
 '2016-01',
 '2016-02',
 '2016-03',
 '2016-04',
 '2016-05',
 '2016-06',
 '2016-07',
 '2016-08']

In [6]:
df2=pd.read_csv('university_towns.txt',sep='|',header=None,names=['RegionName'])

In [7]:
df2['State']=df2[df2['RegionName'].str.contains('edit')]
df2.head()

                                        RegionName          State
0                                    Alabama[edit]  Alabama[edit]
1                    Auburn (Auburn University)[1]            NaN
2           Florence (University of North Alabama)            NaN
3  Jacksonville (Jacksonville State University)[2]            NaN
4       Livingston (University of West Alabama)[2]            NaN

In [8]:
df2['State'].fillna(method='ffill',inplace=True)
# df['state'].head()

In [9]:
df2.head()

                                        RegionName          State
0                                    Alabama[edit]  Alabama[edit]
1                    Auburn (Auburn University)[1]  Alabama[edit]
2           Florence (University of North Alabama)  Alabama[edit]
3  Jacksonville (Jacksonville State University)[2]  Alabama[edit]
4       Livingston (University of West Alabama)[2]  Alabama[edit]

In [10]:
df2['check']=df2['State']== df2['RegionName']
# df2.loc[df2['check']== True].head()
df2.drop(df2.loc[df2['check']== True].index,inplace=True)

In [11]:
del df2['check']

In [12]:
df2['State'] = df2['State'].str.replace("\[.*?\]",'')
df2.head()

                                        RegionName    State
1                    Auburn (Auburn University)[1]  Alabama
2           Florence (University of North Alabama)  Alabama
3  Jacksonville (Jacksonville State University)[2]  Alabama
4       Livingston (University of West Alabama)[2]  Alabama
5         Montevallo (University of Montevallo)[2]  Alabama

In [13]:
df2['RegionName']=df2['RegionName'].str.replace(" \(.*?\)",'')
df2['RegionName']=df2['RegionName'].str.replace("\[.*?\]",'')
print(df2.shape)
df2.head()

(517, 2)

     RegionName    State
1        Auburn  Alabama
2      Florence  Alabama
3  Jacksonville  Alabama
4    Livingston  Alabama
5    Montevallo  Alabama

In [14]:
df3=pd.read_excel('gdplev.xls',skiprows=6)

In [15]:
df3.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1929.0,104.6,1056.6,NaN,1947q1,243.1,1934.5,NaN
2,1930.0,92.2,966.7,NaN,1947q2,246.3,1932.3,NaN
3,1931.0,77.4,904.8,NaN,1947q3,250.1,1930.3,NaN
4,1932.0,59.5,788.2,NaN,1947q4,260.3,1960.7,NaN

In [16]:
df3= df3.rename(columns={'Unnamed: 4':'Recession','Unnamed: 6':'Gdp'})

In [17]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 8 columns):
Unnamed: 0    87 non-null float64
Unnamed: 1    87 non-null float64
Unnamed: 2    87 non-null float64
Unnamed: 3    0 non-null float64
Recession     278 non-null object
Unnamed: 5    278 non-null float64
Gdp           278 non-null float64
Unnamed: 7    0 non-null float64
dtypes: float64(7), object(1)
memory usage: 17.5+ KB

In [18]:
GDP=df3[['Recession','Gdp']].copy()

In [19]:
GDP.dropna(inplace=True)

In [20]:
GDP.head()

  Recession     Gdp
1    1947q1  1934.5
2    1947q2  1932.3
3    1947q3  1930.3
4    1947q4  1960.7
5    1948q1  1989.5

In [21]:
# # GDP['Date'] = pd.to_datetime(GDP['Year'])
# GDP['Year'] = GDP['Year'].astype(int)

# GDP['Year'] = pd.to_datetime(GDP['Year'],format='%Y')

In [28]:
GDP[GDP['Recession'].str.contains('2008')]

    Recession      Gdp
245    2008q1  14889.5
246    2008q2  14963.4
247    2008q3  14891.6
248    2008q4  14577.0

In [23]:
 GDP.drop(GDP[0:212].index,inplace=True)

In [33]:
list_Gdp= GDP['Gdp'].tolist()
start_list=[]
for i in range(len(list_Gdp)-2):
    if(GDP.iloc[i+1][1] < GDP.iloc[i][1]) and (GDP.iloc[i+2][1] < GDP.iloc[i+1][1]):
        
        start_list.append(GDP.iloc[i])
        
print(start_list)

[Recession     2008q2
Gdp          14963.4
Name: 246, dtype: object, Recession     2008q3
Gdp          14891.6
Name: 247, dtype: object, Recession    2008q4
Gdp           14577
Name: 248, dtype: object]

In [25]:
list_Gdp= GDP['Gdp'].tolist()

end_list=[]
for i in range(len(list_Gdp)-2):
    if(GDP.iloc[i-1][1] < GDP.iloc[i][1]) & (GDP.iloc[i-2][1] < GDP.iloc[i-1][1]):
                    end_list.append(GDP.iloc[i])

        
        
print(end_list)

[Recession     2000q3
Gdp          12607.7
Name: 215, dtype: object, Recession     2000q4
Gdp          12679.3
Name: 216, dtype: object, Recession     2002q1
Gdp          12822.3
Name: 221, dtype: object, Recession    2002q2
Gdp           12893
Name: 222, dtype: object, Recession     2002q3
Gdp          12955.8
Name: 223, dtype: object, Recession    2002q4
Gdp           12964
Name: 224, dtype: object, Recession     2003q1
Gdp          13031.2
Name: 225, dtype: object, Recession     2003q2
Gdp          13152.1
Name: 226, dtype: object, Recession     2003q3
Gdp          13372.4
Name: 227, dtype: object, Recession     2003q4
Gdp          13528.7
Name: 228, dtype: object, Recession     2004q1
Gdp          13606.5
Name: 229, dtype: object, Recession     2004q2
Gdp          13706.2
Name: 230, dtype: object, Recession     2004q3
Gdp          13830.8
Name: 231, dtype: object, Recession     2004q4
Gdp          13950.4
Name: 232, dtype: object, Recession     2005q1
Gdp          14099.1
Name: 233, dtype: object, Recession     2005q2
Gdp          14172.7
Name: 234, dtype: object, Recession     2005q3
Gdp          14291.8
Name: 235, dtype: object, Recession     2005q4
Gdp          14373.4
Name: 236, dtype: object, Recession     2006q1
Gdp          14546.1
Name: 237, dtype: object, Recession     2006q2
Gdp          14589.6
Name: 238, dtype: object, Recession     2006q3
Gdp          14602.6
Name: 239, dtype: object, Recession     2006q4
Gdp          14716.9
Name: 240, dtype: object, Recession    2007q1
Gdp           14726
Name: 241, dtype: object, Recession     2007q2
Gdp          14838.7
Name: 242, dtype: object, Recession     2007q3
Gdp          14938.5
Name: 243, dtype: object, Recession     2007q4
Gdp          14991.8
Name: 244, dtype: object, Recession     2009q4
Gdp          14541.9
Name: 252, dtype: object, Recession     2010q1
Gdp          14604.8
Name: 253, dtype: object, Recession     2010q2
Gdp          14745.9
Name: 254, dtype: object, Recession     2010q3
Gdp          14845.5
Name: 255, dtype: object, Recession    2010q4
Gdp           14939
Name: 256, dtype: object, Recession     2011q3
Gdp          15021.1
Name: 259, dtype: object, Recession     2011q4
Gdp          15190.3
Name: 260, dtype: object, Recession    2012q1
Gdp           15291
Name: 261, dtype: object, Recession     2012q2
Gdp          15362.4
Name: 262, dtype: object, Recession     2012q3
Gdp          15380.8
Name: 263, dtype: object, Recession     2012q4
Gdp          15384.3
Name: 264, dtype: object, Recession     2013q1
Gdp          15491.9
Name: 265, dtype: object, Recession     2013q2
Gdp          15521.6
Name: 266, dtype: object, Recession     2013q3
Gdp          15641.3
Name: 267, dtype: object, Recession     2013q4
Gdp          15793.9
Name: 268, dtype: object, Recession     2014q3
Gdp          16094.5
Name: 271, dtype: object, Recession     2014q4
Gdp          16186.7
Name: 272, dtype: object, Recession    2015q1
Gdp           16269
Name: 273, dtype: object, Recession     2015q2
Gdp          16374.2
Name: 274, dtype: object, Recession     2015q3
Gdp          16454.9
Name: 275, dtype: object, Recession     2015q4
Gdp          16490.7
Name: 276, dtype: object]

In [26]:
GDP['start'].unique()

KeyError: 'start'